<div class="bla" style="background:url(/1.jpg) 50% 0 repeat fixed;"> </div>

<div class="bla1" style="background:url(/2.jpg) 50% 0 repeat fixed;"> </div>

<div class="bla" style="background:url(/3.jpg) 50% 0 repeat fixed;"> </div>

<div class="bla1" style="background:url(/4.jpg) 50% 0 repeat fixed;"> </div>

<div class="bla" style="background:url(/1.jpg) 50% 0 repeat fixed;"> </div>


<%= link_to "main", '/'%>