<%@developer.each do |x| %>
<div class="bla" style="background: url(/1.jpg) 50% 0 repeat fixed;">
	<div class="story">
		<div class="float-left">
		<%= x.name%>
		</div>
		</div>
		</div>
		<%end%>


